name: Auto Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get version from pack.json
        id: version
        run: |
          VERSION=$(jq -r '.version' pack.json)
          echo "version=v$VERSION" >> $GITHUB_OUTPUT

      - name: Create ZIP file
        run: |
          zip -r NovaUi.zip . -x ".git/*"

      - name: Create Tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag ${{ steps.version.outputs.version }}
          git push origin ${{ steps.version.outputs.version }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: Release ${{ steps.version.outputs.version }}
          files: NovaUi.zip
